*{
    box-sizing: border-box;
}

body{
    background-color: #F3F3F3;
    margin: 0px;
}

button{
    background-color: darkcyan;
    border-radius: 4px;
    color: white;
    font-size: 14px;
}

ul{
    list-style-type: none;
    margin: 0px;
}

li{
    float: left;
}

#company{
    letter-spacing: 10px;
    font-family: Arial;
    font-size: 85px;
    text-align: center;
    background-color: green;
    color: white;
    width: 100%;
    height: 125px;
    margin: 0px;
    padding: 10px;
    opacity: .75;
}

.middle, .brief{
    font-family: arial;
}

.brief{
    font-size 30px;
    letter-spacing: 10px;
}

.middle{
    font-size: 20px;
    line-height: 30px;
}

.column{
    font-family: arial;
    color: white;
    font-size: 18px;
    float: left;
    padding: 10px;
}

.column.left{
    width: 75%;
    background-color: transparent;
    height: 500px;
}

.column.right{ 
    width: 25%;
    background-color: gray;
    text-align: center;
    height: 175px;
    top: 50%;
    padding: 30px 30px 30px 30px;
    opacity: .75;
}


.column.right.top{ 
    width: 25%;
    background-color: transparent;
    text-align: center;
    vertical-align: middle;
    height: 175px;
    padding: 20px;
}

.holder{
    font-family: arial;
    position: absolute;
    right:30%;
    top:50%;
    width: 100%;
    text-align: center;
}

.para-1{
    background-image: url("./Images/patriotslogo.png");
    min-height: 100%;
}

.para-2{
    background-image: url("./Images/patriotslogo.png");
    min-height: 100%;
}

.para-1, .para-2{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 800px;
}

.topnav{
    background-color: darkgreen;
    font-family: arial;
    font-size: 18px;
    overflow: hidden;
}

.topnav a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    float: left;
    padding: 15px 20px;
    background-color: darkgreen;
    width: 10%;
}

.topnav a:hover{
    background-color: darkgray;
    color: black;
}

@media (max-width: 600px){
    .column.left, .column.right{
    width: 100%;
    }
}
